body {
    background-color: #eeeee3;
}

header {
    padding: 20px;
    font-family: 'Helvetica Neue', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #242424;
    color: #eeeee3;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Helvetica Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display:inline-block;
    margin-left: 25px;
}

header a:hover {
    cursor: default;
    text-decoration: underline;
    background-color: #eeeee3;
    color: #242424;
    transition-duration: 0.7s;
    border: hidden;
}

a {
    color: #eeeee3;
    text-decoration: none;
}

.main-image {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/main.jpg");
    background-size: cover;
    background-position: center;
}

.subhead {
    background-color: #242424;
    width: 300px;
    height: 80px;
    position: absolute;
    top: 300px;
    right: 40px;
    color: #eeeee3;
    display: inline-block;
    font-size: 48px;
    border: floralwhite 3px dashed;
}

.subhead h1 {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #202629;
    border-right: solid 7px #202629;
    min-width: 250px;
    text-decoration: underline;
}

.section img {
    margin: 10px 10px 10px 60px;
    align-self: center;
    max-height: 230px;
    border: solid 4px #202629;
}

main {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.section {
    display: flex;
    margin-bottom: 20px;
    padding: 40px;
    height: 300px;
    font-family: 'Helvetica Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4a5f6bde;
    font-size: 18px;
}

#work {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 20px 40px;
}







/*  */





.work-section {
    flex: 5;
    padding: 25px 15px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* margin: 1% 6%; */
}

.project {
    position: relative;
}

.project-info {
    color: #26292b;
    background: var(--header-secondary);
    position: absolute;
    bottom: 15%;
    padding: 1% 5% 1% 1.5%;
    z-index: 1;
}

.project-box {
    max-width: 100%;
    height: 220px;
    background: linear-gradient(to bottom right, rgb(107, 90, 55), rgba(110, 110, 78, 0.5));
    border: solid 5px var(--header-secondary);
    margin: 5px 0;
}

.project:hover {
    opacity: .75;
    transition-duration: .5s;
    cursor: default;
}

.project-name{
    font-size: 1.5em;
}

.project-text{
    font-size: .8em;
    padding: 10% 0 0 0;
    font-weight: 200;
}


@media screen and (min-width: 1200px) {


    #work {
        flex-direction: row;
    }

    .work-section {
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row-gap: 4px;
        grid-column-gap: 4px;
    }

    .project-box {
        margin: 0;
    }

    #top-project {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: stretch;
    }

}






/*  */












.info {
    padding: 30px;
    margin-left: 30px;
    float: right;
    width: 100%;
    align-self: center;
}

.section li {
        display:inline-block;
        margin-left: 25px;
        text-decoration: underline;
}

.section a {
    color: #4a5f6bde;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Helvetica Neue', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}